[submodule "store"]
	path = store
	url = git@github.com:book-store-mfe/store.git
[submodule "catalog"]
	path = catalog
	url = git@github.com:book-store-mfe/catalog.git
[submodule "account"]
	path = account
	url = git@github.com:book-store-mfe/account.git
[submodule "review"]
	path = review
	url = git@github.com:book-store-mfe/review.git
[submodule "shared-lib"]
	path = shared-lib
	url = git@github.com:book-store-mfe/shared-lib.git
[submodule "reports"]
	path = reports
	url = git@github.com:book-store-mfe/reports.git
